<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>9637825088797383</sid>
    <event-sheet>codigo_menu</event-sheet>
    <size>
        <width>800</width>
        <height>600</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="fondo" sid="5700800733971631">
            <initially-visible>1</initially-visible>
            <background-color>114,191,242</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="imagenesMenu" uid="730">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>13</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-204</x>
                        <y>307</y>
                        <z>0</z>
                        <width>294.231506348</width>
                        <height>500.303375244</height>
                        <depth>0</depth>
                        <hotspotX>0.524999976</hotspotX>
                        <hotspotY>0.395000011</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="fondoMenu" uid="731">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>402</x>
                        <y>301</y>
                        <z>0</z>
                        <width>800</width>
                        <height>600</height>
                        <depth>0</depth>
                        <hotspotX>0.500468612</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="729">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>11</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-381</x>
                        <y>317</y>
                        <z>0</z>
                        <width>108</width>
                        <height>108</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="718">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>3</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-424</x>
                        <y>427</y>
                        <z>0</z>
                        <width>178.392822266</width>
                        <height>267.589233398</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite11" uid="580">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-392</x>
                        <y>260</y>
                        <z>0</z>
                        <width>4</width>
                        <height>370</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="393">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-437</x>
                        <y>483</y>
                        <z>0</z>
                        <width>61</width>
                        <height>251</height>
                        <depth>0</depth>
                        <hotspotX>0.491803288</hotspotX>
                        <hotspotY>0.501992047</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="394">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-346</x>
                        <y>488</y>
                        <z>0</z>
                        <width>61</width>
                        <height>263</height>
                        <depth>0</depth>
                        <hotspotX>0.508196712</hotspotX>
                        <hotspotY>0.501992047</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="627">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>2</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-167</x>
                        <y>174</y>
                        <z>0</z>
                        <width>136.322052002</width>
                        <height>131.453414917</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="719">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>7</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-238</x>
                        <y>485</y>
                        <z>0</z>
                        <width>238.544998169</width>
                        <height>103.659996033</height>
                        <depth>0</depth>
                        <hotspotX>0.497076035</hotspotX>
                        <hotspotY>-0.338028163</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="720">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>8</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-718</x>
                        <y>495</y>
                        <z>0</z>
                        <width>165</width>
                        <height>72</height>
                        <depth>0</depth>
                        <hotspotX>0.484848499</hotspotX>
                        <hotspotY>-0.75</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="721">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>8</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-583</x>
                        <y>491</y>
                        <z>0</z>
                        <width>165</width>
                        <height>72</height>
                        <depth>0</depth>
                        <hotspotX>0.484848499</hotspotX>
                        <hotspotY>-0.75</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="722">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>8</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-465</x>
                        <y>490</y>
                        <z>0</z>
                        <width>165</width>
                        <height>72</height>
                        <depth>0</depth>
                        <hotspotX>0.484848499</hotspotX>
                        <hotspotY>-0.75</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="723">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>9</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-626</x>
                        <y>354</y>
                        <z>0</z>
                        <width>167</width>
                        <height>83</height>
                        <depth>0</depth>
                        <hotspotX>0.502994001</hotspotX>
                        <hotspotY>0.506024122</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="724">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>10</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-198</x>
                        <y>350</y>
                        <z>0</z>
                        <width>167</width>
                        <height>83</height>
                        <depth>0</depth>
                        <hotspotX>0.502994001</hotspotX>
                        <hotspotY>0.506024122</hotspotY>
                        <angle>-0.59804821</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="725">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>7</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-341</x>
                        <y>455</y>
                        <z>0</z>
                        <width>238.544998169</width>
                        <height>103.659996033</height>
                        <depth>0</depth>
                        <hotspotX>0.497076035</hotspotX>
                        <hotspotY>-0.338028163</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="726">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>5</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-672</x>
                        <y>578</y>
                        <z>0</z>
                        <width>46</width>
                        <height>52</height>
                        <depth>0</depth>
                        <hotspotX>0.565217376</hotspotX>
                        <hotspotY>0.365384609</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="727">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>5</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-568</x>
                        <y>584</y>
                        <z>0</z>
                        <width>46</width>
                        <height>52</height>
                        <depth>0</depth>
                        <hotspotX>0.565217376</hotspotX>
                        <hotspotY>0.365384609</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imagenesMenu" uid="728">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>5</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-487</x>
                        <y>581</y>
                        <z>0</z>
                        <width>46</width>
                        <height>52</height>
                        <depth>0</depth>
                        <hotspotX>0.565217376</hotspotX>
                        <hotspotY>0.365384609</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="muerte" uid="732">
                    <properties>
                        <rate>90</rate>
                        <spray-cone>360</spray-cone>
                        <type>One-shot</type>
                        <initial-particle-properties></initial-particle-properties>
                        <speed>200</speed>
                        <size>32</size>
                        <opacity>100</opacity>
                        <grow-rate>0</grow-rate>
                        <x-randomiser>0</x-randomiser>
                        <y-randomiser>0</y-randomiser>
                        <speed-randomiser->0</speed-randomiser->
                        <size-randomiser>0</size-randomiser>
                        <grow-rate-randomiser>0</grow-rate-randomiser>
                        <particle-lifetime-properties></particle-lifetime-properties>
                        <acceleration>-150</acceleration>
                        <gravity>0</gravity>
                        <angle-randomiser>0</angle-randomiser>
                        <speed-randomiser>800</speed-randomiser>
                        <opacity-randomiser>0</opacity-randomiser>
                        <destroy-mode>Fade to invisible</destroy-mode>
                        <timeout>1</timeout>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>212</x>
                        <y>-79</y>
                        <z>0</z>
                        <width>73</width>
                        <height>77</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="menu" sid="4671405541447655">
            <initially-visible>1</initially-visible>
            <background-color>30,30,30</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="btn_continuar" uid="1">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>400</x>
                        <y>93</y>
                        <z>0</z>
                        <width>186.616516113</width>
                        <height>77.72088623</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.503937006</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btn_nueva" uid="2">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>400</x>
                        <y>195</y>
                        <z>0</z>
                        <width>186.617004395</width>
                        <height>77.721000671</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.503937006</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btn_acerca_de" uid="3">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-268</x>
                        <y>110</y>
                        <z>0</z>
                        <width>186.617004395</width>
                        <height>77.721000671</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.503937006</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btn_controles" uid="874">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>400</x>
                        <y>297</y>
                        <z>0</z>
                        <width>186.617004395</width>
                        <height>77.721000671</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.503937006</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="idioma" uid="293">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <español>false</español>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>398</x>
                        <y>28</y>
                        <z>0</z>
                        <width>38</width>
                        <height>33</height>
                        <depth>0</depth>
                        <hotspotX>0.51111114</hotspotX>
                        <hotspotY>0.51111114</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances>
        <instance type="Dictionary" uid="535" />
    </nonworld-instances>
    <effects />
</c2layout>
